
:root {
    --primaryColor: #FFF3E2;
    --secondaryColor : #FFE5CA;
    --navColor: #FA9884;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Dashboard CSS */
body {
    background-color: #FFF3E2;
}
header, footer{
    background-color: var(--secondaryColor);
    /* background-color: transparent; */
}
aside > nav, section > main{
    background-color: var(--secondaryColor);
}
aside {
    position: relative;
    top: 70px;
}
aside > nav {
    width: 20%;
    height: 600px;
    position: fixed;
    left: 0;
    border-right: 1px solid;
}
aside > nav > ul {
    list-style: none;
}

aside > nav > ul > li{
    border-bottom: 1px solid;
}

section {
    position: relative;
    top: 70px;
}
section  > main {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid;
    box-sizing: border-box;
    padding: 20px;
}

 /* SIR FERDIE CSS CODES STARTS HERE */

 /* SIR FERDIE CSS CODES ENDS HERE */




/* SIR JACOB CSS CODES STARTS HERE */

/* SIR JACOB CSS CODES ENDS HERE */




/* SIR RICHARD CSS CODES STARTS HERE */

/* SIR RICHARD CSS CODES ENDS HERE */