* {
  margin: 0;
  padding: 0;
}

.login-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0F0F0;
  margin-top: -50px;
}
h2 {
  margin-bottom: 10px;
  text-align: center;
}
.login-form {
  /* border: 1px solid black; */
  background-color: #FFE5CA;
  padding: 20px;
  max-width: 50%;

}

.input-form {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.login-button {
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
small{
  margin-left: 5px;
}
