* {
  margin: 0;
  padding: 0;
}

.register-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0F0F0;
}

.register-form {
  /* border: 1px solid black; */
  background-color: #FFE5CA;
  padding: 20px;
  max-width: 50%;
}

.input-form {
  box-sizing: border-box;
  width: 100%;
}

.register-button {
  position: relative;
  left: 230px;
  padding: 5px;
}
